<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="login">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Register</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="login">
    <img class="home-logo" src="assets/images/logo.png" />
    <ion-list>
      <ion-item>
        <ion-label position="floating">Login</ion-label>
        <ion-input type="text" [(ngModel)]="email" autocapitalize="none" required email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-button shape="round" expand="block" [disabled]="password=='' || password==null || email=='' || email==null"
      (click)="loginUser()">
      Login
    </ion-button>
  </ng-container>
  <ng-container *ngIf="!login">
    <ion-list style="margin-top: 30%;">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" autocapitalize="none" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Login</ion-label>
        <ion-input type="text" [(ngModel)]="email" autocapitalize="none" required email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Parent name</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="parent">
          <ion-select-option *ngFor="let parent of parents" [value]='parent.id'>{{parent.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button shape="round" expand="block" [disabled]="password=='' || password==null || email=='' || email==null"
      (click)="registerUser()">
      Register
    </ion-button>
  </ng-container>
</ion-content>